nav {
    background: black;
}
nav ul {
    list-style-type: none; /* Remove bullets. */
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    color: whitesmoke;
    margin: 10px;
}
nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
    text-decoration: underline;
}
nav ul li a:visited {
    color: whitesmoke;
}

nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
#content {
    margin-top: 150px;
}

