<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <div id="content">
        <f:view>
            <h:outputLabel value="Hello admin or user"/><br/>

            <h:outputLabel value="hello admin" rendered="#{roleView.admin}"/>
            <h:outputLabel value="hello user" rendered="#{roleView.user}"/>
            <h:commandButton actionListener="#{logout.logout}"  value="Logout"/>
        </f:view>
        </div>
    </ui:define>
</ui:composition>
