<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <f:view>
            <div id="content">
                <h:dataTable columnClasses="name,price" var="productInCart"
                             value="#{cartView.cartList}">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="name"/>
                        </f:facet>
                        #{productInCart.name}
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="price"/>
                        </f:facet>
                        #{productInCart.price}
                    </h:column>
                    <h:column>
                        <h:form>
                            <h:commandButton value="Remove from cart"
                                             actionListener="#{cartView.removeFromCart(productInCart)}"/>
                        </h:form>
                    </h:column>
                </h:dataTable>
                <h:form>
                <h:commandButton value="Order"
                                 actionListener="#{cartView.order()}"/>
                </h:form>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
