<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <f:view>
            <div id="content">
                <h:dataTable columnClasses="name,description,price,availability" var="product"
                             value="#{listOfProductsView.productsList}">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="name"/>
                        </f:facet>
                        #{product.name}
                    </h:column>

                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="description"/>
                        </f:facet>
                        #{product.description}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="price"/>
                        </f:facet>
                        #{product.price}
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="availability"/>
                        </f:facet>
                        <h:selectBooleanCheckbox value="#{product.availability}" disabled="true"/>
                    </h:column>
                    <h:column>
                        <h:button outcome="product_edit" value="edit">
                            <f:param name="productId" value="#{product.id}"/>
                        </h:button>
                    </h:column>
                    <h:column>
                        <h:form>
                            <h:commandButton value="delete" action="#{listOfProductsView.delete(product)}"
                                             rendered="#{listOfProductsView.roleView.admin}"/>
                        </h:form>
                    </h:column>
                    <h:column>
                        <h:form>
                            <h:commandButton actionListener="#{listOfProductsView.addToCart(product)}"
                                             value="Add to cart"
                                             ajax="false" disabled="#{!product.availability}"/>
                        </h:form>
                    </h:column>
                </h:dataTable>
            </div>
        </f:view>
    </ui:define>
</ui:composition>
