<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <div id="content">
        <f:view>
            <form method="post" action="j_security_check">
                <h:panelGrid columns="2">
                    <h:outputLabel for="j_username" value="Username"/>
                    <input type="text" id="j_username" name="j_username"/>
                    <h:outputLabel for="j_password" value="Password"/>
                    <input type="password" id="j_password" name="j_password"/>
                    <input type="submit" name="submit" value="Login"/>
                    <h:button outcome="signup" name="signup" value="signup"/>
                </h:panelGrid>
                <br/>
            </form>
        </f:view>
        </div>
    </ui:define>
</ui:composition>
    <!--its working only without hashing password-->
    <!--  <module-option name="hashAlgorithm" value="SHA-256"/>
                                <module-option name="hashEncoding" value="hex"/>-->
    <!--base64-->
    <!--this have to be deleted-->