<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <div id="content">
            <f:view>
                <h:form>
                    <h:panelGrid columns="2">
                        <h:outputLabel value="Login" for="login"/>
                        <h:inputText value="#{signupView.user.login}" id="login" required="true"/>
                        <h:outputLabel value="Password" for="password"/>
                        <h:inputSecret value="#{signupView.user.password}" type="password" id="password"
                                       required="true"/>
                        <h:outputLabel value="e-mail" for="email"/>
                        <h:inputText value="#{signupView.user.email}" type="email" id="email" required="true"/>
                        <h:outputLabel value="Name" for="name"/>
                        <h:inputText value="#{signupView.user.name}" id="name" required="true"/>
                        <h:outputLabel value="Surame" for="surname"/>
                        <h:inputText value="#{signupView.user.surname}" id="surname" required="true"/>


                    </h:panelGrid>
                    <h:commandButton actionListener="#{signupView.addNewUser}" value="Sign up"
                                     ajax="false" outcome="/security/login.xhtml"/>
                </h:form>
            </f:view>
        </div>
    </ui:define>
</ui:composition>

