<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Shop</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Antique store"/>
    <meta name="keywords" content="antiques"/>
    <meta name="author" content="kmkoper"/>
    <h:outputStylesheet library="default" name="css/styles.css"/>
</h:head>
<h:body>
<f:view>
    <nav>
        <ul>
            <li><h:link outcome="/secured/list_of_products.xhtml" value="Products"/></li>
            <li><h:link outcome="/secured/cart.xhtml" value="Cart"/></li>
            <li><h:link outcome="/secured/admin_user.xhtml" value="Role check"/></li>
        </ul>
    </nav>
    <ui:insert name="content"/>
</f:view>
</h:body>
</html>